//$light-blue: #CEDEF2;
//$background-main: #F2B999;
//$main-color: #F2856D;
//$main-text-color: #04ADBF;
//$boxes-color: #BF8173;


$background-main: #628C23;
$main-color: #f1f8e6;
$main-text-color: #f1f8e6;
$boxes-color: #284011;
$light-blue: #8FA66D;
