@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.navigation {
    position: relative;
    padding: 0.5rem 0;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(98,140,35,0.8) 20%, rgba(98,140,35,1) 80%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: $main-color;
    font-size: 1.1rem;
    font-weight: 500;
    z-index: 2;
    &__container {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 3;
    } 
    &__name {
        width: 60%;
        text-align: start;
        font-size: 1.3rem;
        &__link {
            display: flex;
            flex-direction: column;
        }
        @include medium {
            width: 50%;
            font-size: 1.7rem;
        }
    }
    &__hamburger {
        font-size: 2rem;
        @include medium {
            display: none;
        }
    }
    &__menu {
        width: 100%;
        list-style: none;
        padding-left: 0;
        //animation
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: -1;
        margin: 0;
        & li {
            background-color: $background-main;
            transform-origin: top center;
            opacity: 0;
        }
        &--item1 {
            padding-bottom: 1rem;
            animation: translateX 300ms 120ms ease-in-out forwards;
        }
        &--item2 {
            padding-bottom: 1rem;
            animation: translateX 300ms 180ms ease-in-out forwards;
        }
        &--item3 {
            padding-bottom: 1rem;
            animation: translateX 300ms 240ms ease-in-out forwards;
        }
        @include medium {
            width: 40%;
            position: static;
            & li {
            display: inline;
            margin-left: 1rem;
            background-color: transparent;
            }
        }
    }
    & a {
        text-decoration: none;
        color: $main-color;
    }
    @include medium {
        margin: 0;
        padding: 1.2rem 3rem;
        align-items: center;
    }
    @include large {
        padding: 1.2rem 9rem;
    }
    @include extra-large {
        padding: 1.2rem 12rem;
        font-size: 1.3rem;
    }
}

@keyframes translateX {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }
    80% {
      transform: translateX(-5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }