@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.navigation {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    padding: 1.2rem 0;
    width: 100%;
    box-sizing: border-box;
    //background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(98,140,35,0.8) 20%, rgba(98,140,35,1) 80%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: $main-color;
    font-size: 1.1rem;
    font-weight: 500;
    &__name {
        width: 60%;
        text-align: start;
        &__link {
            display: flex;
            flex-direction: column;
        }
        & span {
            font-size: 0.9rem;
        }
        @include medium {
            width: 50%;
        }
    }
    &__hamburger {
        font-size: 2rem;
        @include medium {
            display: none;
        }
    }
    &__menu {
        width: 100%;
        list-style: none;
        padding-left: 0;
        & li {
            margin-top: 0.5rem;
        }
        @include medium {
            width: 40%;
            & li {
            display: inline;
            margin-left: 1rem;
            }
        }
    }
    & a {
        text-decoration: none;
        color: $main-color;
    }
    @include medium {
        padding: 1.2rem 3rem;
        align-items: center;
    }
    @include large {
        padding: 1.2rem 9rem;
    }
    @include extra-large {
        padding: 1.2rem 12rem;
        font-size: 1.3rem;
    }
}
